.body{
    font-family: Consolas;
}
.compartimento{
    padding-left:20px;
    padding-right:20px;
}
.navbar{
    font-size: 18px;
}
.centro {
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 10px;
}
